<!--========================== Teams ================================-->
<a class="btn btn-lg btn-primary btn-block" style="margin-bottom: 20px;" href="{{ site.baseurl }}/pages/competition/juries.html">Jury Nomination</a>


<!--========================== Updates ================================-->
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Updates</h3>
	</div>

	<div class="list-group-item">
		<p class="gray">
			04 May 2017
			<span class="label label-info">New</span>
		</p>
		The most updated CAD files for competition site masterplan, water and electric plans are available for <a href="{{ site.baseurl }}/pages/downloads.html">downloading</a>. Check them out!
	</div>
</div>


<!--========================== Quick Enquiry ================================-->
{% if page.url contains "contact" %}
{% else %}
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Quick Enquiry</h3>
	</div>

	<div class="list-group-item">
		<form role="form" action="https://getsimpleform.com/messages?form_api_token=bce4fd8160c05984e7d1506b0bfe3a63" method="post" enctype="multipart/form-data">

			<input type='hidden' name='redirect_to' value='https://lucaslionline.github.io/service/pages/sent.html' />

			<p>
				<input type="text" name="Name" class="form-control" placeholder="Your Name" required>
			</p>
			
			<p>
				<input type="email" name="Email" class="form-control" placeholder="Your Email" required>
			</p>
			
			<p>
				<input type="text" name="Subject" class="form-control" placeholder="Enquiry Subject" required>
			</p>

			<p>
				<textarea name="Message" rows="5" class="form-control" placeholder="Message"></textarea>
			</p>
			
			<button type="submit" class="btn btn-sm btn-primary">Send</button>
		</form>
	</div>
</div>
{% endif %}



<!--========================== Contact ================================-->
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Contact</h3>
	</div>

	<div class="list-group-item center">
		<a class="btn btn-sm btn-success" href="mailto:support@sdchina.org.cn">support@sdchina.org.cn</a>
	</div>

	<div class="list-group-item">
		<strong>Tel</strong>: +86 10 590 07012<br>
		<strong>Fax</strong>: +86 10 590 07013<br>
		<strong>Website</strong>: <a href="http://www.sdchina.org.cn" target="_blank">http://www.sdchina.org.cn</a><br>
		<strong>Address</strong>: 6-3, SOHO2 Tower A, Guanghua Road, Chaoyang District, Beijing, P.R.China (100020)
	</div>
</div>