<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>

<body>
	<div class="container clearance">
		{% include header.html %}

		<div class="row">
			<div class="col-sm-8">
				{{ content }}
			</div>

			<div class="col-sm-4">
				{% if page.url contains "juries" %}
				{% include html/info-jury.html %}

				{% elsif page.url contains "teams/" %}
				{% include html/info-team.html %}

				{% else %}
				{% include html/info.html %}
				{% endif %}
			</div>
		</div>
	</div>


	{% include footer.html %}
</body>
</html>
