---
layout: default
---


<div class="list-group">
	<div class="list-group-item">
		<a href="{{ site.baseurl }}/pages/competition/juries.html">Juries</a> &raquo; {{ page.title }}
	</div>

	<div class="list-group-item">
		<img class="pull-left juror-img" src="{{ site.baseurl }}/assets/img/{{ page.img }}.png">
		{{ content }}
	</div>

	<div class="list-group-item">
		<p>Nominated by <i>{{ page.nominator }}</i> for Contest <strong>{{ page.group }}</strong>.</p>

		<!-- LikeBtn.com BEGIN -->
		<span class="likebtn-wrapper" data-theme="github" data-identifier="item_1" data-dislike_enabled="false" data-site_id="5921635dfa8fdf042d22f5be"></span>
		<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
		<!-- LikeBtn.com END -->
	</div>
</div>