---
layout: wide
---


<div class="panel panel-default">
	<div class="panel-heading">
		<a href="{{ site.baseurl }}/pages/competition/juries.html">Juries</a> &raquo; {{ page.title }}
	</div>

	<div class="panel-body">
		<img class="pull-left juror-img" src="{{ site.baseurl }}/assets/img/juries/{{ page.img }}.png">
		{{ content }}
	</div>

	<div class="panel-footer">
		<p>Nominated for Contest <strong>{{ page.group }}</strong>.</p>

		<!-- LikeBtn.com BEGIN -->
		<span class="likebtn-wrapper" data-theme="github" data-identifier="item_1" data-dislike_enabled="false" data-icon_dislike_show="false" data-site_id="59216330943ec9c33e6d3449"></span>
		<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
		<!-- LikeBtn.com END -->
	</div>
</div>