<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>

<body>
	<div class="container clearance">
		{% include header.html %}

		<div class="row">
			<div class="col-sm-3">
				<div class="list-group">
					<div class="list-group-item active center">
						<p><img class="user-avatar" src="{{ site.baseurl }}/assets/img/profile.png"></p>
						<strong>Lucas Li</strong><br>
						<span class="gray small">Competition Manager</span>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				{{ content }}
			</div>

			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<span class="gray small"></span>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% include footer.html %}
</body>
</html>
